In [1]:
#1.Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
#Sample Dictionary ( n = 5) : 
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

n=5
d = dict()

for x in range(1,6):
    d[x]=x*x

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [6]:
#2.Write a Python program to combine two dictionary adding values for common keys
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'd':400}
# Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300}

a={}
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200,'d':400}
for i,j in d2.items():
    a[i]=j
for i,j in d1.items():
    if i in a:
        a[i]=a[i]+j
    else:
        a[i]=j
print(a)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [9]:
#3.Write a Python program to print all unique values in a dictionary
#Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
#Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

d= [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
l1=[]
for i in d:
    for j in i.values():
        if j not in l1:
            l1.append(j)
print(set(l1))

{'S002', 'S009', 'S001', 'S005', 'S007'}

In [88]:
#4.Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
#*Sample data : {'1':['a','b'], '2':['c','d']}
#Expected Output: 
#ac
#ad
#bc
#bd

d={1: ['a','b'], 2: ['c','d']}
for i in d[1]:
    for j in d[2]:
        print(i+j)

ac
ad
bc
bd

In [89]:
#5.Write a Python program to create a dictionary from a string.
#* Note: Track the count of the letters from the string.
#* Sample string : 'w3resource'
#* Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

s='w3resource'
d={}
for i in s:
    j=s.count(i)
    d.update({i:j}) 
print(d)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [43]:
#6.Write a Python program to count the values associated with key in a dictionary.
#Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
#Expected result: Count of how many dictionaries have success as True

dic = [{'id': 1, 'success': True, 'name': 'Lary'},{'id': 2, 'success': False, 'name': 'Rabi'},{'id': 3, 'success': True, 'name': 'Alex'}]
#print(sum(i['id'] for i in dic))
#print(sum(i['success'] for i in dic))
total=0

for i in dic:
    if i['success'] == 1:
        total += 1
print(total,'dictionaries have success as True')

2 dictionaries have success as True

In [1]:
#7. Write a Python program to convert a list into a nested dictionary of keys.
num_list = [1, 2, 3, 4]
new_dict = current = {}
for name in num_list:
    current[name] = {}
    current = current[name]
print(new_dict)

{1: {2: {3: {4: {}}}}}

In [2]:
#8. Write a Python program to sort a list alphabetically in a dictionary.

d={'l1':['jeel','dhruv','nikunj'],'l2':['yug','meet','twisha']}

for i,j in d.items():
    a={i:sorted(j)}
    print(a)

{'l1': ['dhruv', 'jeel', 'nikunj']}
{'l2': ['meet', 'twisha', 'yug']}

In [110]:
#9. Write a Python program to sort Counter by value.
#* Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
#* Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

dic={'Math':81, 'Physics':83, 'Chemistry':87}
s= sorted(dic.items() , key=lambda a:a[1] , reverse=True)
print(s)

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [116]:
#10. Write a Python program to match key values in two dictionaries. Go to the editor
# * Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
# * Expected output: key1: 1 is present in both x and y

x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}

for i,j in x.items():
    for a,b in y.items():
        if {i:j} == {a:b}:
            print(i,':',j,'is present in both x and y')

key1 : 1 is present in both x and y

In [3]:
# 11.Write a Python program to check a list is empty or not

lis=[1,2,3,4,5,6,7,8]

if len(lis) != 0:
    print('List is not empty.')
else:
    print('List is empty.')

List is not empty.

In [8]:
#12. Write a Python program to remove duplicates from a list.

lis=[2,3,2,4,22,'1','abc','abc','ef','true','false']
a=set(lis)
print(a)

{2, 3, 4, '1', 'true', 22, 'abc', 'false', 'ef'}

In [11]:
#13. Write a Python function that takes two lists and returns True if they have at least one common member.

l1=[3,4,5,3,2]
l2=[4,5,2,1,6]
def func():
    for i in l1:
        if i in l2:
            return 'True'
    return 'false'

func()

'True'

In [13]:
#14. Write a Python program to get the difference between the two lists.

l1 = [20, 15, 40, 2, 40, 60, 70]
l2 = [25, 40, 35]
 
a = []
for i in l1:
    if i not in l2:
        a.append(i)
print(a)

[20, 15, 2, 60, 70]

In [16]:
#15. Write a Python program to find the second smallest number in a list.

l=[78,58,6,90,1000]
l.sort()
print(l)
print(l[1],'-> Second smallest number in a list')

[6, 58, 78, 90, 1000]
58 -> Second smallest number in a list

In [17]:
#16.Write a Python program to find the second largest number in a list.

l=[1,45,300,219,100]
l.sort()
print(l)
print(l[-2],'-> Second largest number in a list')

[1, 45, 100, 219, 300]
219 -> Second largest number in a list

In [19]:
#17. Write a Python program to get the frequency of the elements in a list

s=[10023,1098,10309,10023,10309,104,103]
d={}
for i in s:
    j=s.count(i)
    d.update({i:j}) 
print(d)

{10023: 2, 1098: 1, 10309: 2, 104: 1, 103: 1}

In [20]:
#18. Write a Python program to convert a list of multiple integers into a single integer
# * Sample list: [11, 33, 50]
# * Expected Output: 113350

lis = [2648,7897,50]
for i in lis:
    print(i,end='')

2648789750

In [7]:
#19. Write a Python program to compute the similarity between two lists.
# * Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"]
# * Expected Output: Color1-Color2: ['white', 'orange', 'red']
#                    Color2-Color1: ['black', 'yellow']


l1=['red','orange','green','blue','white']
l2=['black','yellow','green','blue']
s1=set(l1).difference(set(l2))
print('color1-color2:',list(s1))
s2=set(l2).difference(set(l1))
print('color2-color1:',list(s2))

color1-color2: ['orange', 'red', 'white']
color2-color1: ['yellow', 'black']

In [32]:
# 20. Write a Python program to check if all dictionaries in a list are empty or not.
#  * Sample list : [{},{},{}]
#  * Return value : True
#  * Sample list : [{1:2},{},{}]
#  * Return value : False

def fun(i):
    for i in l1:
        if i == dict():
            return 'true'
        return 'false'
l1 = [{},{},{}]
fun(l1)

'true'

In [6]:
#21. Write a Python program to count the number of characters (character frequency) in a string .
# * Sample String : google.com'
# * Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}
    

s='google.com'
d={}
for i in s:
    j=s.count(i)
    d.update({i:j}) 
print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [38]:
#22. Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$' ,
# except the first char itself.
# * Sample String : 'restart'
# * Expected Result : 'resta$t'

def change(s):
    char = s[0]
    s = s.replace(char, '$')
    a = char + s[1:]
    return a

print(change('restart'))

resta$t

In [22]:
#23. Write a Python function that takes a list of words and returns the length of the longest one.

def longest_length(s):
    l=0
    for i in lis:
        if len(i)>l:
            l=len(i)
            a=i
    
    return a,l 

lis=["Python", "is", "n"," interpreted", "object-oriented", "high-level", "programming", "language"]
longest_length(lis)

('object-oriented', 15)

In [21]:
#24. Write a Python program to count the occurrences of each word in a given sentence.

a='Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis.'
for i in a.split():
    print(i, '->' ,a.count(i))

Python -> 1
is -> 2
a -> 14
computer -> 1
programming -> 1
language -> 1
often -> 1
used -> 1
to -> 2
build -> 1
websites -> 1
and -> 2
software, -> 1
automate -> 1
tasks, -> 1
and -> 2
conduct -> 1
data -> 1
analysis. -> 1

In [24]:
#25. Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in 
# the first 4 characters.

def ucase(s):
    n = 0
    for i in s[:4]: 
        if i.upper() == i:
            n += 1
    if n >= 2:
        return s.upper()
    return s

print(ucase('Python'))
print(ucase('PyThon'))

Python
PYTHON

In [26]:
#26. Write a Python program to count and display the vowels of a given text

s="khushi vaghani"
l=['a','e','i','o','u','A','E','I','O','U']
count=0
for i in s:
    if i in l:
        count += 1
print(count)

5

In [28]:
#27. Write a Python program to create a tuple with different data types.

t = ("python",True, False, 54.2, 23)
print(t)

('python', True, False, 54.2, 23)

In [32]:
#28. Write a Python program to add an item in a tuple

t = (32,73,24,25,567,873,98)
l = list(t) 
l.append(900)
t = tuple(l)
print(t)

(32, 73, 24, 25, 567, 873, 98, 900)

In [33]:
#29. Write a Python program to convert a tuple to a string.

def convert(t):
    str = ''
    for i in t:
        str += ''.join(i)
    return str
 
t = ('k', 'h', 'u', 's', 'h','i')
str = convert(t)
print(str)

khushi

In [35]:
#30. Write a Python program to find the repeated items of a tuple

tup=(88,32,4,2,88,45,98,45)  
c=[]
for i in tup:
    if tup.count(i) > 1:
        c.append(i)
print(c)
a= set(c)
print(tuple(a))

[88, 88, 45, 45]
(88, 45)

In [37]:
#31. Write a Python program to find the length of a tuple.

t=(1,2,3,'y','u','g','tuple')
length=len(t)
print(length)

7

In [38]:
#32. Write a Python program to convert a tuple to a dictionary.

li=[('name','meet'),('age',39)]
dic=dict(li)
print(dic)

{'name': 'meet', 'age': 39}

In [42]:
#33. Write a Python program to replace last value of tuples in a list. 
# * Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
# * Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

l1 = [(10,20,30),(40,50,60),(70,80,90)]
l2 = []
for i in l1:
    i= i[:-1]+(100,)
    l2.append(i)
print(l2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [45]:
# 34. Write a Python program to replace last value of tuples in a list. 
#  * Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
#  * Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

l1 = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
list(l1[-1])
print(l1)

[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [16]:
# 35. Write a Python program to sort a tuple by its float element.
#  * Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
#  * Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

l = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(l, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [43]:
# 36. Write a Python program to count the elements in a list until an element is a tuple.

num = [200,10,780,(1,20),2000]
count = 0
for n in num:
    if type(n) == tuple:
        break
    count += 1
print(count)

3

In [44]:
# 37. Write a Python program to iteration over sets
print('using numbers')
n = set([0, 1, 2, 3, 4, 5])
for i in n:
    print(i, end=' ')

print('\nusing string')

s = set("w3resource")  
for val in s:
    print(val, end=' ')

using numbers
0 1 2 3 4 5
using string
u s w r o c 3 e

In [13]:
# 38. Write a Python program to add member(s) in a set

animal = {"Lion","Cat"}
print(animal)
animal.add("Dog")
print("Add single element : ",animal)
animal.update(["Panda", "Tiger"])
print("Add multiple items : ",animal)

{'Cat', 'Lion'}
Add single element :  {'Cat', 'Lion', 'Dog'}
Add multiple items :  {'Panda', 'Dog', 'Tiger', 'Cat', 'Lion'}

In [48]:
# 39. Write a Python program to remove item(s) from set

n = set([23, 21, 23, 4, 25])
print("Original set:",n)
n.pop()
print("After removing :",n)

Original set: {25, 4, 21, 23}
After removing : {4, 21, 23}

In [49]:
# 40. Write a Python program to remove an item from a set if it is present in the set.

n = set([ 3841, 45322, 3453, 9894, 5])
print("Original set elements:",n)
n.discard(3453)
print("After removing :",n)

Original set elements: {3841, 5, 9894, 45322, 3453}
After removing : {3841, 5, 9894, 45322}

In [51]:
# 41. Write a Python program to create an intersection of sets.

x = set(["pink", "red"])
y = set(["red", "blue"])
i = x.intersection(y)
print('intersection: ',i)

intersection:  {'red'}

In [52]:
# 42. Write a Python program to create a symmetric difference

x = set(["pink", "red"])
y = set(["red", "blue"])
r1 = x.symmetric_difference(y)
print("x - y:",r1)
r2 = y.symmetric_difference(x)
print("y - x:",r2)

x - y: {'blue', 'pink'}
y - x: {'blue', 'pink'}

In [54]:
# 43. Write a Python program to find maximum and the minimum value in a set.

s = {200, 210,893, 43, 20}
print('max :',max(s))
print('min :',min(s))

max : 893
min : 20

In [56]:
# 44. Write a Python program to find the length of a set.

s= {89,56,83,244,356,"nikunj","meet"}
print(len(s))

7

In [6]:
# 45. Write a Python program to construct the following pattern, using a nested for loop. 
#  * 
#  * * 
#  * * * 
#  * * * * 
#  * * * * * 
#  * * * * 
#  * * * 
#  * * 
#  *

n = 5
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("")

for i in range(n, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
# 46. Write a Python program to count the number of even and odd numbers from a series of numbers. 
#  * Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
#  * Expected Output : Number of even numbers : 5
#                      Number of odd numbers : 4

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
odd = 0
even = 0
for i in numbers:
        if not i % 2 == 0:
            even += 1
        else:
            odd += 1
print("Number of even numbers :",even)
print("Number of odd numbers :",odd)

Number of even numbers : 5
Number of odd numbers : 4

In [4]:
# 47. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
#  * Note : Use 'continue' statement. 
#  * Expected Output : 0 1 2 4 5

for x in range(6):
    if (x == 3 or x == 6):
        continue
    print(x,end=' ')

0 1 2 4 5

In [3]:
# 48. Write a Python program to get the Fibonacci series between 0 to 50. 
#     Note : The Fibonacci Sequence is the series of numbers : 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
#  * Every next number is found by adding up the two numbers before it.
#  * Expected Output : 1 1 2 3 5 8 13 21 34

n1 = 0
n2 = 1
print(n1)
print(n2)
for i in range (1,9):
    fs = n1+n2
    print(fs)
    n1=n2
    n2=fs

0
1
1
2
3
5
8
13
21
34

In [2]:
# 49. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. 
# The element value in the i-th row and j-th column of the array should be i*j. 
# Note :
#  * i = 0,1.., m-1 
#  * j = 0,1, n-1.
#  * Test Data : Rows = 3, Columns = 4 
#  * Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

m=int(input("enter rows : "))
n=int(input("enter columns : "))
b = []
for i in range(m):
    a = []
    for j in range(n):
        a.append(i*j)
    b.append(a)

print(b)

enter rows : 3
enter columns : 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [1]:
# 50. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a 
# comma-separated sequence

a = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        a.append(s)
print( ",".join(a))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [37]:
# 51. Write a Python program to print alphabet pattern 'A'.

p=""
for row in range(0,6):    
    for column in range(0,6):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            p = p+"*"    
        else:      
            p = p+" "    
    p = p+"\n"    
print(p)

  ***
 *   *
 *   *
 *****
 *   *
 *   *

In [13]:
# 52. Write a Python program to print alphabet pattern 'P'

str=""
for Row in range(0,6):
    for Col in range(0,6):
        if (Col == 1 or ((Row == 0 or Row == 3) and Col > 0 and Col < 5) or ((Col == 5 or Col == 1) and (Row == 1 or Row == 2))):
            str=str+"*"
        else:
            str=str+" "
    str=str+"\n"
print(str)

 ****
 *   *
 *   *
 ****
 *
 *

In [59]:
#53. Write a Python program to check a triangle is valid or not.

def triangle(a,b,c):
    if a+b>=c and b+c>=a and c+a>=b:
        return 'Triangle is valid'
    else:
        return 'Triangle is not valid'

triangle(29,56,765)

'Triangle is not valid'

In [18]:
#54. Write a Python program to create the multiplication table (from 1 to 10) of a number.

n = int(input("Input a number: "))

for i in range(1,11):
    print(n,'x',i,'=',n*i)

Input a number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [21]:
# 55. Write a Python program to construct the following pattern, using a nested loop number.
#  1
#  22
#  333
#  4444
#  55555
#  666666
#  7777777
#  88888888
#  999999999

n = 10
for i in range(1,n):
    for j in range(0,i,1):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [61]:
# 56. Write a Python function to find the Max of three numbers.

def fun(a, b, c):
    list = [a, b, c]
    return max(list)
print(fun(40, b=901, c=28))

901

In [64]:
# 57. Write a Python function to sum all the numbers in a list

l=[34,542,303,652]
sum(l)

1531

In [65]:
# 58. Write a Python function to multiply all the numbers in a list

def mul(numbers):
    total = 1
    for x in numbers:
        total = total * x
    return total
print(mul((3, 6, 9, 5)))

810

In [66]:
# 59. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

def count(s):
    d={"upper":0, "lower":0}
    for i in s:
        if i.isupper():
            d["upper"]+=1
        elif i.islower():
            d["lower"]+=1
        else:
            pass
    print (s)
    print ("Upper case characters : ", d["upper"])
    print ("Lower case Characters : ", d["lower"])

count('The quick Brown Fox')

The quick Brown Fox
Upper case characters :  3
Lower case Characters :  13

In [70]:
# 60. Write a Python function that takes a list and returns a new list with unique elements of the first list

def list(l):
    x = []
    for i in l:
        if i not in x:
            x.append(i)
    return x

print(list([3,2,3,4,3,3,3,4,5]))

[3, 2, 4, 5]

In [71]:
# 61. Write a Python program to print the even numbers from a given list

l = [1,2,3,4,5,6,7,8,9,10]
evenlis = []
for i in l:
    if i%2 == 0:
        evenlis.append(i)
print(evenlis)

[2, 4, 6, 8, 10]

In [74]:
# 62. Write a Python function that checks whether a passed string is palindrome or not

def palindrome(s):
    rs = s[::-1]
    if s == rs: 
        return s ,'String is palindrome'
    return s ,'String is not a palindrome'
palindrome('nayan')

('nayan', 'String is palindrome')

In [76]:
# 63. Write a Python program to access a function inside a function.

def fun(x):
      def fun1(y):
        return x+y
      return fun1
a = fun(3)
a(11)

14

In [77]:
# 64. Write a Python program to detect the number of local variables declared in a function.

def function():
    x = 1
    y = 2
    str1= "khushi"
    print("Python Exercises")

print(function.__code__.co_nlocals)

3